.parent{
    height: 800px;
    width: 800px;
}
.child1{
    height: 100px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.child2{
    height: 60px;
    color: white;
    background-color: darkgray;
}
.box1{
    display: flex;
    flex-direction: row;
    margin-left: 45px;
}
.child3{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
    
}
.box2{
    height: 350px;
    width: 400px;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.box3{
    height: 350px;
    width: 150px;
    background-color: rgb(174, 172, 172);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}
.child4{
    height: 100px;
    color: white;
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: center;
}