.parent{
    width: 800px;
    color: white;
}
.child1{
    height: 125px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.child2{
    height: 50px;
    background-color: rgb(157, 156, 156);
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
.child3{
    height: 500px;
    background-color: lightgrey;
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}
.box1{
    height: 200px;
    width: 97%;
    background-color: rgb(116, 116, 116);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
}
.box2{
    display: flex;
    flex-direction: row;
    gap: 75px;
    margin-left: 25px;
    margin-top: 30px;
}
.square1{
    height: 200px;
    width: 200px;
    background-color: white;
}
.square2{
    height: 200px;
    width: 200px;
    background-color: white;
}
.square3{
    height: 200px;
    width: 200px;
    background-color: white;
}
.child4{
    height: 50px;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

