.parent{
    height: 1000px;
    width: 1000px;
}
.child1{
    height: 70px;
    width: 100%;
    background-color: rgb(205, 204, 204);
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.child2{
    height: 80px;
    width: 100%;
    background-color: rgb(205, 204, 204);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
    gap: 10px;
}
.child3{
    height: 150px;
    width: 100%;
    background-color: rgb(205, 204, 204);
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}
.child4{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}
.box1{
    height: 150px;
    width: 320px;
    background-color:  rgb(205, 204, 204);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box2{
    height: 150px;
    width: 320px;
    background-color:  rgb(205, 204, 204);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.box3{
    height: 150px;
    width: 320px;
    background-color:  rgb(205, 204, 204);
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.child5{
    height: 80px;
    width: 100%;
    background-color: rgb(205, 204, 204);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 10px;
}